.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/node_modules


.DS_Store
/element-ui-lib/
/rainbow-js/
/rainbow-cli/
/firm/
/rainbow-ui/node_modules/
/vue3/element/
/vue3/base/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

{{#unit}}
/test/unit/coverage/
{{/unit}}
{{#e2e}}
/test/e2e/reports/
selenium-debug.log
{{/e2e}}
package-lock.json
/.vs/
/.idea/
yarn.lock
