.pL5 {
  padding-left: 5px;
}

.pL10 {
  padding-left: 10px;
}

.pL15 {
  padding-left: 15px;
}

.pL20 {
  padding-left: 20px;
}

.pL25 {
  padding-left: 25px;
}

.pL30 {
  padding-left: 30px;
}

.pL35 {
  padding-left: 35px;
}

.pL40 {
  padding-left: 40px;
}

.pL45 {
  padding-left: 45px;
}

.pL50 {
  padding-left: 50px;
}

.pL100 {
  padding-left: 100px;
}

.pR5 {
  padding-right: 5px;
}

.pR10 {
  padding-right: 10px;
}

.pR15 {
  padding-right: 15px;
}

.pR20 {
  padding-right: 20px;
}

.pR25 {
  padding-right: 25px;
}

.pR30 {
  padding-right: 30px;
}

.pR35 {
  padding-right: 35px;
}

.pR40 {
  padding-right: 40px;
}

.pR45 {
  padding-right: 45px;
}

.pR50 {
  padding-right: 50px;
}

.pR100 {
  padding-right: 100px;
}

.pT5 {
  padding-top: 5px;
}

.pT10 {
  padding-top: 10px;
}

.pT15 {
  padding-top: 15px;
}

.pT20 {
  padding-top: 20px;
}

.pT25 {
  padding-top: 25px;
}

.pT30 {
  padding-top: 30px;
}

.pT35 {
  padding-top: 35px;
}

.pT40 {
  padding-top: 40px;
}

.pT45 {
  padding-top: 45px;
}

.pT50 {
  padding-top: 50px;
}

.pT100 {
  padding-top: 100px;
}
.pB5 {
  padding-bottom: 5px;
}

.pB10 {
  padding-bottom: 10px;
}

.pB15 {
  padding-bottom: 15px;
}

.pB20 {
  padding-bottom: 20px;
}

.pB25 {
  padding-bottom: 25px;
}

.pB30 {
  padding-bottom: 30px;
}

.pB35 {
  padding-bottom: 35px;
}

.pB40 {
  padding-bottom: 40px;
}

.pB45 {
  padding-bottom: 45px;
}

.pB50 {
  padding-bottom: 50px;
}

.pB100 {
  padding-bottom: 100px;
}

.pad5 {
  padding: 5px;
}

.pad10 {
  padding: 10px;
}

.pad15 {
  padding: 15px;
}

.pad20 {
  padding: 20px;
}

.pad25 {
  padding: 25px;
}

.pad30 {
  padding: 30px;
}

.pad35 {
  padding: 35px;
}

.pad40 {
  padding: 40px;
}

.pad45 {
  padding: 45px;
}

.pad50 {
  padding: 50px;
}

.pad100 {
  padding: 100px;
}



.pTB5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pTB10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pTB15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.pTB20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pTB25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.pTB30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pTB35 {
  padding-top: 35px;
  padding-bottom: 35px;
}

.pTB40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.pTB45 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.pTB50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pTB100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pLR5 {
  padding-left: 5px;
  padding-right: 5px;
}

.pLR10 {
  padding-left: 10px;
  padding-right: 10px;
}

.pLR15 {
  padding-left: 15px;
  padding-right: 15px;
}

.pLR20 {
  padding-left: 20px;
  padding-right: 20px;
}

.pLR25 {
  padding-left: 25px;
  padding-right: 25px;
}

.pLR30 {
  padding-left: 30px;
  padding-right: 30px;
}

.pLR35 {
  padding-left: 35px;
  padding-right: 35px;
}

.pLR40 {
  padding-left: 40px;
  padding-right: 40px;
}

.pLR45 {
  padding-left: 45px;
  padding-right: 45px;
}

.pLR50 {
  padding-left: 50px;
  padding-right: 50px;
}

.pLR100 {
  padding-left: 100px;
  padding-right: 100px;
}









